@charset "utf-8";
@import url("../webfonts/Devlys_010/stylesheet.css");
@import url("../webfonts/Shiv02/stylesheet.css");
@import url("../webfonts/AGRA/stylesheet.css");
html {
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
	background-size: 80px auto;
}
/*
html>body {
  margin: 0;
  padding: 0;
  height: 100%;}
  */
#wapper {
	list-style-type: none;
	padding-top: 0px;
	margin-top: 0px;
}
/* Start of fixed menu */
/*
html>body #topwapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0px;
  padding: 0;
  height: auto;
  border: 5px solid red;}
  
html>body .bottomwapper {
  position: fixed;
  top: auto;
  right:0px;
  left:0px;
  bottom:1px;
  padding:0;
  border: 5px solid green;
  overflow:auto;
  max-height: 70%;
}
*/
/* End of fixed menu */
a {
	font-weight: bold;
}
a:link {
	color: #FF6600;
	text-decoration: none;
}
a:visited {
	color: #FF944C;
	text-decoration: none;
}
a:hover, a:active , a:focus{
	color: #7F3300;
	text-decoration: underline;
}
#mainnavigation ul {
	list-style-type: none;
}
#mainnavigation ul li{
	float: left;
	padding-right: 0px;
	position: relative;
	z-index: 9999;
	display: block;
	padding-top: 0px;
}
#mainnavigation a {
	width: 200px;
	height: 50px;
	display:table-cell;
	vertical-align: middle; 
	text-align: center;
	background-color: #2E2E2E;
	color: #FFFFFF;
}
#mainnavigation a:hover   , #mainnavigation a:active, #mainnavigation a:focus, #mainnavigation a.thispage{
	text-decoration: none;
	background-color: #43A6CB;
}
#topwapper #staticSection #mainnavigation {
	padding-top: 6px;
	padding-bottom: 6px;
}
#mainnavigation li {
	border: 5px solid;
	/*border-color: #4B46C8;*/
}
#mainnavigation li > ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	/*border: 5px solid blue;*/
}
#mainnavigation li:hover > ul {
	display: block;
}
#mainnavigation li > ul li > ul {
	left: 100%;
	top: 0;
	
}
#mainnavigation li > ul li > ul li{
	width: 200px;
}
#mainnavigation ul li > ul li {
	padding-left: -20px;
	position: relative;
	left: -20%;
	width: 200px;
	/*padding-top: 0px;*/
}
#mainnavigation li:hover > a {
	background-color: #43A6CB;
}
#slideshow   {
	float: left;
	overflow: auto;
	margin-left: 40px;
	margin-right: 5px;
	display: block;
}
#previous   {
	display: block;
	float: left;
	position: relative;
	z-index: 99;
}
#next   {
	display: block;
	float: right;
	position: relative;
	z-index: 99;
}
#slider {
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
	margin-top: 10px;
}
#slider img {
	min-width: 700px;
	min-height: 500px;
	width: 700px;
	height: 500px;
	display: inline;
	overflow: hidden;
	position: relative;
	max-width: 700px;
	max-height: 500px;
}
#mainnavigation  {
	/*margin-left: 45px;*/
	/*margin:0 auto;*/
	/*border: 5px solid blue;*/
	/*position: absolute;*/
	/*bottom: 0;*/
	/*width: auto;*/
	/*height: 80px;*/
	/*margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -53px;
	background-color: #4D4D4D;*/
}

#mainheader {
	text-align: center;
	font-family: "Devlys 010";
	line-height: 40%;
	background-color: #86123E;
	margin-top: -25px;
	padding-top: 1px;
	padding-bottom: 39px;
	padding-left: 0px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -53px;
}
.fixed {
	position: fixed; 
	top: 0; 
	height: 0px; 
	z-index: 9999;
}#bottomwapper #slideshow .cycle-overlay {
	position: static;
	bottom: -20px;
	width: 100%;
	z-index: 600;
	background: none repeat scroll 0% 0% #000000;
	color: #EFB435;
	padding: 15px;
	opacity: 0.9;
}
#slideshow > img {
	/*min-width: 700px;*/
	/*min-height: 500px;*/
	width: 1000px;
	height: 650px;
	display: inline;
	overflow: hidden;
	position: relative;
	padding-top: 2px;
	/*max-width: 1000px;*/
	/*max-height: 693px;*/
}
#bottomwapper #dynamicSection #leftSidebar {
	float: left;
}
#bottomwapper #dynamicSection #main {
	float: left;
}
#mainheader #subheader2 h1 {
	color: #FFF;
	font-style: italic;
	font-variant: normal;
	font-weight: 900;
	font-size: 380%;
	text-align: center;
	display: block;
}
#mainheader #subheader2 h5 {
	color: #FFF;
	font-style: italic;
	font-variant: normal;
	font-weight: 800;
	font-size: 100%;
	text-align: center;
	display: block;
	margin-bottom: 22px;
}
#mainheader #subheader1 h6 {
	color: #FFF;
	font-style: italic;
	font-variant: normal;
	font-weight: 100;
	font-size: 100%;
	text-align: center;
	display: block;
	margin-bottom: 5px;
	margin-top: 25px;
}
#topwapper #mainheader #subheader1 {
	padding-bottom: 2px;

}
#topwapper #mainheader #subheader2 {
	display: block;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: -40px;
	line-height: 2%;
}
#leftSidebar {
	width: 700px;
	height: 768px;
	display: block;
}
#gcalender {
	background-color: none;
	/*border-style: solid;*/
	float: left;
	width: 830px;
	height: 700px;
	position: absolute;
	display: block;
	margin-left:1040px;
	margin-top:20px;
}
#bottomwapper {

}
#articles {
	display: block;
	float: left;
	text-align: center;
}
h3 {
	font-weight: 900;
	font-size: 400%;
	text-align: center;
	text-decoration: underline;
	text-indent: 0px;
	display:block;
}
