@font-face {
    font-family: 'kruti_dev_010regular';
    src: url('k010-webfont.eot');
    src: url('k010-webfont.eot?#iefix') format('embedded-opentype'),
         url('k010-webfont.woff2') format('woff2'),
         url('k010-webfont.woff') format('woff'),
         url('k010-webfont.ttf') format('truetype'),
         url('k010-webfont.svg#kruti_dev_010regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kruti_dev_640normal';
    src: url('kruti_dev_640-webfont.eot');
    src: url('kruti_dev_640-webfont.eot?#iefix') format('embedded-opentype'),
         url('kruti_dev_640-webfont.woff2') format('woff2'),
         url('kruti_dev_640-webfont.woff') format('woff'),
         url('kruti_dev_640-webfont.ttf') format('truetype'),
         url('kruti_dev_640-webfont.svg#kruti_dev_640normal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kruti_dev_700normal';
    src: url('kruti_dev_700_normal-webfont.eot');
    src: url('kruti_dev_700_normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('kruti_dev_700_normal-webfont.woff2') format('woff2'),
         url('kruti_dev_700_normal-webfont.woff') format('woff'),
         url('kruti_dev_700_normal-webfont.ttf') format('truetype'),
         url('kruti_dev_700_normal-webfont.svg#kruti_dev_700normal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kruti_dev_100regular';
    src: url('krutidev_100-webfont.eot');
    src: url('krutidev_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('krutidev_100-webfont.woff2') format('woff2'),
         url('krutidev_100-webfont.woff') format('woff'),
         url('krutidev_100-webfont.ttf') format('truetype'),
         url('krutidev_100-webfont.svg#kruti_dev_100regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}